
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiWEB</title>
</head>
<body>
    <h1> Mis Datos Personales: </h1>
    <img src="https://lh3.googleusercontent.com/a-/AOh14GhMydye-7OsWvUokf5ZuqvloVtQVhGWbvMy3ras02M=s96-c-rg-br100" />
    <ul>
        {% for mi_dato in mis_datos %}
            <li> {{mi_dato.nombre}} , {{mi_dato.apellido}} ,{{mi_dato.edad}} , {{mi_dato.telefono}} ,{{mi_dato.email}}</li> 
        {% endfor %}
    </ul>
    <hr>
    <p> Para mas Datos envia un mensaje de  WhatsApp </p>
    <br>
    <hr>
    <h3> Abre el indice de Mis Paginas </h3> <a targuet="blank"  href="http://127.0.0.1:8000/"> ir </a>
    
</body>

</html>

