<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiWEB</title>
</head>
<body>
    <h1> Mis Mascotas son Tambien Mis Hijos: </h1>
    <ul>
        {% for mascota in mascotas %}
            <li> {{mascota.nombre}} , {{mascota.raza}} ,{{mascota.edad}} </li> 
        {% endfor %}
    </ul>
    <p> No miento son mis hijos Tambien </p>
</body>

</html>
