<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiWEB</title>
</head>
<body>
    <img src="https://www.vaticannews.va/content/dam/vaticannews/multimedia/2021/08/05/familiaAEM.jpg/_jcr_content/renditions/cq5dam.thumbnail.cropped.750.422.jpeg" />
    <h1> Esta es MI FAMILIA: </h1>
    <ul>
        {% for pariente in parientes %}
            <li> {{pariente.nombre}} , {{pariente.apellido}} ,{{pariente.edad}} ,{{pariente.parentezco}} </li> 
        {% endfor %}
    </ul>
    <hr>
    <p> Ellos son mi tesoro mas Preciado </p>
    <hr>
    <h3> Abre el indice de Mis paginas en otra Pestaña</h3> <a targuet="blank"  href="http://127.0.0.1:8000/"> ir </a>
</body>

</html>